@{
    ViewData["Title"] = "Home Page";
}

<h1>Canlı Yayın Uygulaması</h1>
<input type="text" id="userId" placeholder="Kullanıcı ID" />
<button id="startCallButton">Arama Başlat</button>
<video id="localVideo" autoplay muted></video>
<video id="remoteVideo" autoplay></video>

<h1>Canlı Yayın Uygulaması</h1>
<input type="text" id="roomName" placeholder="Oda Adı" />
<button id="joinButton">Odaya Katıl</button>

<div id="messages"></div>
<input type="text" id="messageInput" placeholder="Mesajınızı yazın..." />
<button id="sendButton">Gönder</button>